<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Airlines</title>
		<style media="screen">
			* {
				font-family: sans-serif;
				box-sizing: border-box;
				text-decoration: none;
			}
		</style>
	</head>

	<body>
		<h1>Add Airline</h1>

		<br>
		<br>
		<br>

		<form class="" action="/airline/add" method="post">
			<input type="text" name="name" placeholder="Name"><br>
			<input type="text" name="description" placeholder="Description"><br>
			<input type="submit" value="Add Airline">
		</form>
	</body>

</html>